@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/borders";

:host {
	display: inline-block;
	box-sizing:border-box;
	overflow: hidden;
  cursor: pointer;

	.cannot-select-text;

  #closer {
		padding-left: @pad;
    font-size: .75em;
    font-weight: bold;

    &:before {
			content: '\2715';
		}
	}

	.pill {
		overflow: hidden;
		position: relative;
	  box-sizing: border-box;
		padding-top: @micropad;
    padding-bottom: @micropad;
    padding-left: @pad;
    padding-right: @pad;
		border-radius: 2px;
		vertical-align: middle;
    white-space: nowrap;

		.flat;
		.border;
		.transition(@transition);
    &.pressed {
      .transform(scale(0.95, 0.95));
    }
	}
}
